{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="hero">
    <div class="introduction">
        <h1>About Page</h1>
    </div>
</div>    

<section class="about">
    <div class="conatiner">
        <ul>
            <li>
                <div class="box">
                </div>
            </li>
            <li>            
                <h3>I Created This Blog To Enable Coders, Hone Their Writing Skills Without REstricion or predijuice(Dont know what am saying)  Lol 
                    I belive Copywritnig every skill everybody should learn Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, accusantium.
                </h3>
            </li>
        </ul>
    </div>
</section>
        
{% endblock  %}
    